<div class="card rounded">
    <div class="card-body text-truncate">
      <div>
            <div class=" w-100 d-inline-block">
                <h5 class="card-title font-weight-bold text-truncate">{{product.nome}}</h5>
                <p class="card-text m-0"><span class="text-secondary">CNPJ: </span>{{product.cnpj | mask: '00.000.000/0000-00'}}</p>
                <p class="card-text m-0"> <span class="text-secondary">Aplicação Minima</span> {{product.investimentoMinimo | currency: 'BRL':'R$':'1.2-2'}}</p>
                <p class="card-text m-0"> <span class="text-secondary">Rent. neste mês</span> 9.75% </p>
            </div>
            <div class="w-100 d-flex flex-row justify-content-between mt-3">
                <button class="btn btn-light" (click)="openRescue(product)">Resgatar</button>
                <button class="btn btn-success" (click)="openApply(product)">Aplicar</button>
            </div>
        </div>       
    </div>
</div>