<div class="modal-header">
    <h4 class="modal-title">Aplicar</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
        <h3 class="modal-subtitle font-weight-bold">{{product.nome}}</h3>
        <p class="modal-text  m-0"><span class="text-secondary">CNPJ: </span>{{product.cnpj | mask: '00.000.000/0000-00'}}</p>
        <p class="modal-text"><span class="text-secondary">Data do Movimento: </span>{{dateMoviment | date: 'dd/MM/yyyy'}}</p>
        <form [formGroup]="form">
          <input class="form-control" placeholder="Valor do Resgate" mask="separator.2" thousandSeparator="." prefix="R$ " formControlName="movimentValue">
        </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="onSubmitRescue()">Aplicar</button>
  </div>